.Header {
    background-color: #6A94D4;
    font-family: Roboto;
    padding: 25px;
    border-radius: 15px;
}
.nameSite {
    color: white;
    font-size: 24px;
    cursor: default;
}
.changeCityLink {
    font-size: 20px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}
.changeCityLink:hover {
    color: #052F6D	;
}